---
- name: Pre play for validate
  hosts: all

  vars:
    terraform_version: 1.9.7 # renovate: datasource=github-tags depName=hashicorp/terraform

  tasks:
    - name: Update package cache
      become: true
      ansible.builtin.apt:
        update_cache: true

    - name: Install terraform
      ansible.builtin.include_role:
        name: ensure-terraform
