---
- name: Validate terraform files
  hosts: all

  vars:
    name: testbed-default

    opentofu_binary: tofu
    opentofu_version: '1.10.6' # renovate: datasource=github-tags depName=opentofu/opentofu
    opentofu_download_url: "https://github.com/opentofu/opentofu/releases/download/v{{ opentofu_version }}/tofu_{{ opentofu_version }}_linux_amd64.zip"

  tasks:
    - name: Install unzip package
      become: true
      ansible.builtin.apt:
        name: unzip
        state: present
        update_cache: true

    - name: Get opentofu binary
      become: true
      ansible.builtin.unarchive:
        src: "{{ opentofu_download_url }}"
        dest: /usr/local/bin
        remote_src: yes
        include:
          - tofu

    - name: Check syntax of terraform files
      ansible.builtin.command:
        chdir: "{{ zuul.project.src_dir }}/{{ name }}"
        cmd: "{{ opentofu_binary }} fmt -check"
      changed_when: true
